<!DOCTYPE html>
<html>
<head>
  <title>YmYw</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'application', 'jquery.movingboxes', 'rails' %>
  <%= csrf_meta_tag %>
  
  
  <!-- Google Analytics Code -->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2677869-7']);
  _gaq.push(['_setDomainName', '.p4ward.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <!-- Google Analytics Code End -->
  
</head>
<body>

<div class="all">

<%= yield %>

<div class="nav">
  <div><%= link_to 'Home', root_path %></div>
  <div><%= link_to 'Contact', contact_path %></div>
  <div><%= link_to 'About', about_path %></div>
  <div><%= link_to 'Help', help_path %></div>
  <% if !signed_in? %>
  <div><%= link_to 'Sign in', signin_path %></div>
  <% else %>
  <div><%= link_to 'Signout', signout_path %></div>  
  <div><%= link_to "Account", edit_user_path(current_user) %></div>  
  <div><%= link_to "Create a New User", signup_path %></div>   
  <% end %>
</div>

</div>
</body>
</html>
